body {
    font-family: 'Noto-Sans-TC', sans-serif;
	background: url("../img/main.gif") repeat-y center center fixed;
	background-color: #36393f;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

pre.icon {
	color: #ff3d3d;
	font-size: 14.9px;
}

div.jm9 {
  text-align: right;
} 

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.heading {
	text-align: center;
    padding: 190px 50px;
}

.title {
    line-height: 35px;
    margin-bottom: -2px;
    font-size: 29px;
}

.subtitle {
    color: rgba(255, 255, 255, 0.685);
    font-size: 16px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a.select::selection {
  background: #fff2a8;
}

a.select::-moz-selection {
  background: #fff2a8;
}

h2.select::selection {
  background: #fff2a8;
  color: #202020;
}

h2.select::-moz-selection {
  background: #fff2a8;
  color: #202020;
}

p.select::selection {
  background: #fff2a8;
  color: #202020;
}

p.select::-moz-selection {
  background: #fff2a8;
  color: #202020;
}
